body {
    font-family: "roboto", sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    flex-direction: inherit;
    padding: 10px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    flex-direction: inherit;
    flex-wrap: wrap;
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.main-content-container {
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #1F2937;
}

.main-content-header {
    font-size: 48px;
    color: #F9FAF8;
}

.main-content-subtext {
    font-size: 18px;
    color: #c1c4c8;
}

.mainleft-content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.main-content-button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882f6;
    max-width: 130px;
    min-height: 40px;
}